/test
/venv
/soft/static/rental_contracts
/soft/static/invoices
/soft/static/receipts
/default_files_src
/soft/db_save
/migrations
/soft/static/questions/
/soft/static/orders/
/save_DB/
/soft/invoices_out_zip_path/
/soft/table_save/
/soft/tmp_path/
/test/
