{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<div class="center">
    <h1>{{ title }}</h1>
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.hidden_tag() }}
    
                {{ form.apartment_name.label(class="form-label") }}
                {{ form.apartment_name(class="form-field") }}
                <br />
                {{ form.address.label(class="form-label") }}
                {{ form.address(class="form-field") }}
                <br />
                {{ form.zipcode.label(class="form-label") }}
                {{ form.zipcode(class="form-field") }}
                <br />
                {{ form.city.label(class="form-label") }}
                {{ form.city(class="form-field") }}
                <br>
                {{ form.rent_price.label(class="form-label") }}
                {{ form.rent_price(class="form-field-short") }}
                {{ form.month_day.label(class="form-label") }}
                {{ form.month_day(class='form-field-short form-label')}}
                <div class="center">
                    {{ form.submit(class="btn success") }}
                </div>
            </div>
        </form>
    </div>
    <div class="div-btn">
        <a class="btn default" href="{{ url_for('apartments') }}">Retour</a>
    </div>
</div>

{% endblock %}