{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<div class="center">
    <h1>Créer une Facture pour client AVIO</h1>
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.hidden_tag() }}
                <select name="apartment" class="form-field form-label">
                    {% for apart in aparts %}
                    <option class="form-label" value="{{ apart.id }}">{{ apart.apartment_name }}</option>
                    {% endfor %}
                </select>
                
                <div>
                    {{ form.ref_customer.label(class="form-label") }}
                    {{ form.ref_customer(class="form-field") }}
                    <br />
                    <div>
                        {{ form.date_in.label(class="form-label") }}
                    </div>
                    <div>
                        <input class="form-field-short" type="date" name="date_in">
                    </div>
                    <br />
                    <div>
                        {{ form.date_out.label(class="form-label") }}
                    </div>
                    <div>
                        <input class="form-field-short" type="date" name="date_out">
                    </div>
                    <br />
                    <div>
                        {{ form.due_date.label(class="form-label") }}
                    </div>
                    <div>
                        <input class="form-field-short" type="date" name="due_date">
                    </div>
                    <br />
                    <div>
                        {{ form.price.label(class="form-label") }}
                    </div>
                    <div>
                        {{ form.price(class="form-field-short") }}
                    </div>
                </div>
                <div class="center">
                    {{ form.submit(class="btn success") }}
                </div>
            </div>
        </form>
    </div>
    <div class="div-btn">
        <a class="btn default" href="{{ url_for('invoices_out') }}">Retour</a>
    </div>
</div>

{% endblock %}