{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<div class="center">
    <h1>{{ title }}</h1>
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.hidden_tag() }}

                <div>
                    <div>
                        {{ form.who.label(class="form-label")}}
                    </div>
                    <div>
                        {{ form.who(class="form-field-short form-label") }}
                    </div>
                </div>

                <div>
                    <div>
                        {{ form.aparts_name.label(class="form-label")}}
                    </div>
                    <div>
                        {{ form.aparts_name(class="form-field-short form-label") }}
                    </div>
                </div>
    
                {{ form.invoice_number.label(class="form-label") }}
                {{ form.invoice_number(class="form-field") }}
                <br />
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-field") }}
                <br />
                {{ form.added_date.label(class="form-label") }}
                <div>
                    <input class="form-field-short" type="date" name="added_date">
                </div>
                <br>
                {{ form.price.label(class="form-label") }}
                <div>
                    {{ form.price(class="form-field-short") }}
                    {{ form.tax_deductible.label(class="form-label") }}
                    {{ form.tax_deductible() }}
                </div>
                <br />
                {{ form.file_name.label(class="form-label") }}
                {% if edit %}
                <div>
                    {{ form.file_name(class="form-field form-label", disabled=True) }}
                </div>
                {% endif %}
                <div>
                    <input class="form-label" type="file" name="invoice_file" accept=".pdf, .PDF, .jpg, .jpeg, .png, .gif, .bmp">
                </div>
                
                <div class="center">
                    {{ form.submit(class="btn success") }}
                </div>
            </div>
        </form>
    </div>
    <div class="div-btn">
        <a class="btn default" href="{{ url_for('invoices_in') }}">Retour</a>
    </div>
</div>

{% endblock %}