{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<body class="default-background">
    <div class="center">
        <h1>{{title}}</h1>
        <div class="div-btn">
            <a class="btn default" href="{{ url_for('parts_list') }}">Back</a>
        </div>
        <div class="card">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.job_card.label(class="form-label")}}
                    </div>
                    <div>
                        {{ form.job_card(class="form-field-short form-label")}}
                    </div>
                    <br>
                    <div>
                        {{ form.description.label(class="form-label") }}
                    </div>
                    <div>
                        {{ form.description(class="form-field-short form-label") }}
                    </div>
                    <br />
                    <div>
                        {{ form.pn.label(class="form-label") }}
                    </div>
                    <div>
                        {{ form.pn(class="form-field-short form-label") }}
                    </div>
                    <br>
                    <div>
                        {{ form.sn.label(class="form-label") }}
                    </div>
                    <div>
                        {{ form.sn(class="form-field-short form-label") }}
                    </div>
                    <br />
                    <div>
                        {{ form.qty.label(class="form-label") }}
                    </div>
                    <div>
                        {{ form.qty(class="form-field-short form-label") }}
                    </div>
                    <br />
                    <div>
                        {{ form.reason.label(class="form-label")}}
                    </div>
                    <div>
                        {{ form.reason(class="form-field-short form-label")}}
                    </div>
                    <br>
                    
                    {{ form.remarks.label(class="form-label") }}
                    {{ form.remarks(class="form-field form-label", rows='10') }}
                    <br />
                <div class="center">
                    {{ form.submit(class="btn success") }}
                </div>
                <br>
            </form>
        </div>
    </div>
</body>

{{ ckeditor.load() }}
{{ ckeditor.config(name='remarks') }}

{% endblock %}