{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}
<div style="text-align: right;">
    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Chercher...">
</div>

<div class="center">
    <h1>Databases</h1>
    <div class="div-btn" style="text-align: left;">
        <a class="btn info" href="{{ url_for('save_database') }}">Sauvegarder la base de données</a>
    </div>
    <div class="card">
        <table id="myTable">
            <tr class="header">
                <th onclick="sortTable(0)">Filename</th>
                <th onclick="sortTable(0)">Date</th>
                <th>Exporter</th>
                <th>Supprimer</th>
                {% for file in file_list %}
            </tr>
            <tr>
                {% for date in file %}
                <td>{{ date }}</td>
                {% endfor %}

                <td>
                    <a class="btn default" style="margin: 10px;" href="{{ url_for('export_database', db_name=file[0]) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path
                                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                            <path fill-rule="evenodd"
                                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                        </svg>
                    </a>
                </td>
                <td>
                    <button class="btn danger"
                        onclick="document.getElementById('{{file[0]}}').style.display='inline-flex'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>

                    <div class="modal" id="{{file[0]}}">
                        <form class="modal-content" action="{{ url_for('delete_database_save', db_name=file[0]) }}">
                            <div class="container-modal">
                                <h1>Supprimer la database</h1>
                                <br>
                                <p>Etes vous sûr de vouloir supprimer la database ?</p>
                                <br>
                                <div class="clearfix">
                                    <button type="button"
                                        onclick="document.getElementById('{{file[0]}}').style.display='none'"
                                        class="btn default">Annuler</button>
                                    <button type="submit" onclick="document.getElementById('id01').style.display='none'"
                                        class="btn danger">Supprimer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
    <div class="div-btn">
        <a class="btn default" href="{{ url_for('dashboard') }}">Retour à l'accueil</a>
    </div>
</div>

{% endblock %}