{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<div class="center">
    <h1>{{ title }}</h1>
    <div class="card" style="width: 30%;">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.apartment.label(class="form-label") }}
                </div>
                <div>
                    {{ form.apartment(class="form-field-short form-label") }}
                </div>
                <br />
                {{ form.file_name.label(class="form-label") }}
                <div style="margin-top: 5px;">
                    <input type="file" name="contract_file" accept=".pdf, .PDF">
                </div>
                <div class="center" style="padding: 15px;">
                    {{ form.submit(class="btn success") }}
                    <a class="btn default" href="{{ url_for('contracts') }}">Retour</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}