{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}
<div class="center">
    <h1>Job Card Lists</h1>
</div>
<div style="text-align: right;">
    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Find...">
</div>

<body class="default-background">
    <div class="center">
        <div class="div-btn" style="text-align: left;">
            <a class="btn info" href="{{ url_for('tasks_list') }}">Back to Job Card List</a>
        </div>
        <div class="card">
            <table id="myTable">
                <tr class="header">
                    <th onclick="sortTable(0)">JC (WO)</th>
                    <th onclick="sortTable(0)">Description</th>
                    <th>Delete</th>
                </tr>
                {% for job_card in job_cards %}
                <tr>
                    <td>{{job_card.item_jc}}</td>
                    <td>{{job_card.description }}</td>
                    <td>
                        <button class="btn danger"
                            onclick="document.getElementById('{{job_card.id}}').style.display='inline-flex'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>

                        <div class="modal" id="{{job_card.id}}">
                            <form class="modal-content"
                                action="{{ url_for('delete_job_card', id_to_delete=job_card.id) }}">
                                <div class="container-modal">
                                    <h1>Job card to delete</h1>
                                    <br>
                                    <p>Are you sure to delete this job card (Work Order) and all related job cards
                                        (SAAB AMM) ?</p>
                                    <br>
                                    <div class="clearfix">
                                        <button type="button"
                                            onclick="document.getElementById('{{job_card.id}}').style.display='none'"
                                            class="btn default">Cancel</button>
                                        <button type="submit"
                                            onclick="document.getElementById('id01').style.display='none'"
                                            class="btn danger">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <div class="pagination"></div>
            </table>
        </div>
    </div>
</body>

{% endblock %}