{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}
<body class="saab">
    <div class="center">
        <h1>{{ title }}</h1>
        <div class="div-btn">
            <a class="btn default" href="{{ url_for('tasks_list') }}">Back</a>
        </div>
<!--        <div class="card">-->
<!--            <form method="post" enctype="multipart/form-data">-->
<!--                <div class="form-group">-->
<!--                    {{ form.hidden_tag() }}-->
<!--                    <br/>-->
<!--                    <div>-->
<!--                        {{ form.question.label(class="form-label") }}-->
<!--                    </div>-->
<!--                    <div class="red-text">-->
<!--                        <p>Utiliser "Shift + Enter" pour un saut de ligne normal et "Enter" pour un saut de type-->
<!--                            paragraphe</p>-->
<!--                    </div>-->
<!--                    {{ form.question(class="form-field", rows="10") }}-->
<!--                    <br/>-->
<!--                    <div>-->
<!--                        {{ form.answer.label(class="form-label") }}-->
<!--                    </div>-->
<!--                    <div class="red-text">-->
<!--                        <p>Utiliser "Shift + Enter" pour un saut de ligne normal et "Enter" pour un saut de type-->
<!--                            paragraphe</p>-->
<!--                    </div>-->
<!--                    {{ form.answer(class="form-field", rows="10") }}-->
<!--                    <br/>-->
<!--                    <div>-->
<!--                        {{ form.remark.label(class="form-label") }}-->
<!--                    </div>-->
<!--                    <div class="red-text">-->
<!--                        <p>Utiliser "Shift + Enter" pour un saut de ligne normal et "Enter" pour un saut de type-->
<!--                            paragraphe</p>-->
<!--                    </div>-->
<!--                    {{ form.remark(class="form-field", rows="10") }}-->
<!--                </div>-->
<!--                <div>-->
<!--                    {{ form.submit(class="btn success") }}-->
<!--                </div>-->
<!--                <br>-->
<!--            </form>-->
<!--        </div>-->
    </div>  
</body>

{{ ckeditor.load() }}
{{ ckeditor.config(name='description') }}
{{ ckeditor.config(name='remarks') }}

{% endblock %}