{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}
<div class="center">
    <h1>Job Card N°{{id_jc}} Details Lists</h1>
</div>
<div style="text-align: right;">
    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Find...">
</div>

<body class="default-background">
    <div class="center">
        <div class="div-btn" style="text-align: left;">
            <a class="btn info" href="{{ url_for('add_job_card_detail') }}">Add a Task</a>
            <a class="btn info" href="{{ url_for('tasks_list') }}">Back to Job Cards List</a>
        </div>
        <div class="card">
            <table id="myTable">
                <tr class="header">
                    <th onclick="sortTable(0)">JC (SAAB)</th>
                    <th onclick="sortTable(0)">Type</th>
                    <th onclick="sortTable(0)">AMM/EMM Ref.</th>
                    <th onclick="sortTable(0)">Description</th>
                    <th onclick="sortTable(0)">Remarks</th>
                    <th onclick="sortTable(0)">Working Time</th>
                    <th onclick="sortTable(0)">Nbr Tech</th>
                    <th onclick="sortTable(0)">Status</th>
                    <th onclick="sortTable(0)">Performed</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for detail in job_card_details %}
                <tr>
                    <td>{{detail.job_card}}</td>
                    <td>{{detail.type}}</td>
                    <td>{{detail.mm_ref}}</td>
                    <td>{{detail.description }}</td>
                    <td>{{detail.remarks }}</td>
                    <td>{{detail.working_time.strftime('%H:%M') }} hrs</td>
                    <td>{{detail.nbr_tech}}</td>
                    {% if detail.performed == 0 %}
                    <td>
                        <i class="fa fa-remove"></i>
                    </td>
                    <td>
                        <a href="{{ url_for('task_performed', id_job_card=detail.id) }}" class="btn success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check2-circle" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                <path
                                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                            </svg>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        <a href="{{ url_for('undo_task_performed', id_job_card=detail.id) }}" class="btn default">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                <path
                                    d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                            </svg>
                        </a>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('edit_job_card_detail', id_job_card=detail.id) }}" class="btn info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a>
                    </td>
                    <td>
                        <button class="btn danger"
                            onclick="document.getElementById('{{detail.id}}').style.display='inline-flex'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>

                        <div class="modal" id="{{detail.id}}">
                            <form class="modal-content"
                                action="{{ url_for('delete_job_card_detail', id_to_delete=detail.id) }}">
                                <div class="container-modal">
                                    <h1>Task to delete</h1>
                                    <br>
                                    <p>Are you sure to delete this task ?</p>
                                    <br>
                                    <div class="clearfix">
                                        <button type="button"
                                            onclick="document.getElementById('{{detail.id}}').style.display='none'"
                                            class="btn default">Cancel</button>
                                        <button type="submit"
                                            onclick="document.getElementById('id01').style.display='none'"
                                            class="btn danger">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <div class="pagination"></div>
            </table>
        </div>
    </div>
</body>

{% endblock %}