{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<div class="center">
    <h1>Gestion Location</h1>
    <div style="display: inline-block;">
        <ul>
            <li><a href="{{ url_for('apartments') }}">Appartements</a></li>
            <li><a href="{{ url_for('contracts') }}">Contrats de location</a></li>
            <li><a href="{{ url_for('tenants') }}">Locataires</a></li>
            <li><a href="{{ url_for('invoices') }}">Factures</a></li>
        </ul>
    </div>
    <div>
        <div>
            <h1>{{ user.username }}</h1>
        </div>
        <div class="div-btn">
            <a href="{{url_for('logout')}}" class="btn default">Se déconnecter</a>
        </div>
    </div>
</div>

{% endblock %}