{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<div class="center">
    <h1>{{ title }}</h1>
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.hidden_tag() }}
                
                <div>
                    {{ form.date.label(class="form-label") }}
                </div>
                <div>
                    {{ form.date(class="form-field-short form-label") }}
                </div>
                <br>
              {{ form.ac_type.label(class="form-label") }}
              {{ form.ac_type(class="form-field form-label") }}
              <br>
              {{ form.registration.label(class="form-label") }}
              {{ form.registration(class="form-field form-label") }}
              <br>
              <div>
                {{ form.ata.label(class="form-label") }}
              </div>
              <div>
                {{ form.ata(class="form-field form-label") }}
              </div>
              <br>
              {{ form.work_order.label(class="form-label") }}
              {{ form.work_order(class="form-field form-label") }}
              <br>
                <div>
                    {{ form.description.label(class="form-label") }}
                </div>
                <div class="red-text">
                    <p>Utiliser "Shift + Enter" pour un saut de ligne normal et "Enter" pour un saut de type
                        paragraphe</p>
                </div>
                {{ form.description(class="form-field form-label", rows="10") }}
                <br/>
                <div>
                    {{ form.work_type.label(class="form-label") }}
                </div>
                <div>
                    {{ form.work_type(class="form-field-short form-label") }}
                </div>
                <br>
                <div>
                    {{ form.time.label(class="form-label") }}
                </div>
                <div>
                    {{ form.time(class="form-field-short form-label") }}
                </div>
                <br>
                <div>
                    {{ form.function.label(class="form-label") }}
                </div>
                <div>
                    {{ form.function(class="form-field-short form-label") }}
                </div>
                <br>
                <div class="center">
                    {{ form.submit(class="btn success") }}
                </div>
            </div>
        </form>
    </div>
    <div class="div-btn">
        <a class="btn default" href="{{ url_for('experiences') }}">Back</a>
    </div>
</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='description') }}
{{ ckeditor.config(name='remarks') }}

{% endblock %}