{% extends 'base.html' %}

{% block content %}

{% include 'alert_messages.html' %}

<body class="saab">
    <div style="display: -webkit-inline-box;">
        <img src="{{url_for('static', filename='images/saab_logo.png')}}">
        <div class="center" style="padding-left: 300px;">
            <h1>Main Menu</h1>
            <div class="div-btn">
                <a class="btn info" href="{{ url_for('orders_list')}}">Orders list</a>
                <a class="btn info" href="{{ url_for('questions_list')}}">SAAB Questions List</a>
                <a class="btn info" href="{{ url_for('tasks_list')}}">Tasks Inspection List</a>
                <a class="btn info" href="{{ url_for('equipment_list')}}">Equipment List</a>
                <a class="btn info" href="{{ url_for('parts_list')}}">Parts List</a>
            </div>
            <div class="div-btn" style="padding-top: 30px;">
                <a href="{{url_for('saab_logout')}}">
                    <img src="{{ url_for('static', filename='images/logout.png') }}">
                </a>
            </div>
        </div>
    </div>
</body>

{% endblock %}